#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica;
}

#btnContainer{
    text-align :center;

}

 .buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #698bfe;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }

 .buttons:hover{
    background-color: #2f52fc;
 }